# Ignore everything
*

# Except that we want included
!.gitignore
!.pylintrc
!pyproject.toml
!requirements.txt
!README.md
!LICENSE
!MANIFEST
!armap/
!tests/
!**.py
!**.lua
!docs/
!docs/**
!examples/
!examples/**