# Ignore everything
*

# Except that we want included
!.gitignore
!.pylintrc
!pyproject.toml
!requirements.txt
!README.md
!LICENSE
!MANIFEST
!**.py
!**.lua
!armap/
!armap/**
!docs/
!docs/**
!examples/
!examples/**
!tests/
!tests/**
